<mat-card class="example-card">
    <h2>Login</h2>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
        </mat-form-field>
    </form>
    <div class="spacer"></div>
    <mat-card-content>
      <a href=''>New Patient</a> | <a href=''>Forgot Password</a>
    </mat-card-content>
    <div class="spacer"></div>
    <button mat-button (click)="onLogin()">Login</button>
  </mat-card>
